/* h1{
	text-align: center;
	font-size: 48px;
	font-weight: bold;
	color: white;
	font-family: Gill Sans, sans-serif;
	width: 100%;
	height: 100%;
}


h2{
	text-align: left;
	font-size: 32px;
	font-family: Gill Sans;
	font-style: italic;
	margin-left: 20%;
	margin-right: 20%;
}

p{
	text-align: left;
	font-family: Gill Sans;
	font-size: 18px;
	margin-left: 20%;
	margin-right: 20%;
}

embed{
	margin-top: 20px; 
	margin-left: auto; 
	margin-right: auto; 
	margin-bottom: 30px;
	text-align: center;
	display: block; 
	border: 1px solid black;
}

img{
	margin-left: 18%;
	margin-right: 1%;
	margin-top: 2%;
	float: left;
}

.footer{
	font-family: Gill Sans;
	font-size: 18px;
	height: 60px;
	line-height: 60px;
	position: absolute;
	text-align: center;
	width: 100%;
	background-color: #f5f5f8;
}

li.sub-title{
	text-align: left;
	font-family: Gill Sans;
	font-size: 20px;
	margin-left: 22%;
	margin-right: 20%;
}

li.sub-term{
	text-align: left;
	font-family: Gill Sans;
	font-size: 17px;
	margin-left: 2%;
	margin-top: 1%;
}

.navbar{
  font-family: Garamond, serif;
}

.navbar-item{
	font-size: 15px;
	opacity: 0.7;
	color: whitesmoke;
}

.jumbotron{
	background-image: url('mountains.jpg');
	margin-bottom: 0px;
}

.text-image-title{
	margin-top: 6%;
} */

/* start navigation */
@import url(../partials/_variables.css);

.header-area .main-menu .navbar .navbar-brand{
	padding: 0 2rem 0 5rem;
}

.header-area .main-menu .navbar{
	padding: 1rem 10rem;
}

.header-area .main-menu .nav-item .nav-link{
	font: normal 500 15px/2px  var(--Montserrat);
	text-transform: uppercase;
	padding: 1.7rem;
	color: var(--title-color);
}

.header-area .main-menu .navbar-nav a{
	background: var(--gradient-color);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
}

.header-area .main-menu .navbar-nav a:hover{
	opacity: 0.4;
}

/* end navigation */

/* Banner Area */
.title-text{
	margin-left: 6rem;
}

.site-main .site-banner{
	font-family: var(--Montserrat);
}

.site-main .site-banner h3{
	padding-top: 35%;
	font-weight: 500;
}

.site-main .site-banner h1{
	font-size: 2.0rem;
	font-weight: 700;
}

.site-main .site-banner h4{
	font-size: 1.5rem;
}

.site-main .site-banner h3::after{
	content: "";
	height: 2px;
	width: 18vw;
	background: black;
	display: inline-block;
	margin-left: 5%;
	transform: translateY(-5px);
}
/* End Banner Area */
.img-fluid{
	margin-top: 30%;
	border-radius: 50%;
	width: 200px;
	height: 200px;
}


