
/* start navigation */
@import url(./_variables.css);
@import url(./partials/_global.css);

.header-area .main-menu .navbar .navbar-brand{
	padding: 0 2rem 0 5rem;
}

.header-area .main-menu .navbar{
	padding: 1rem 10rem;
}

.header-area .main-menu .nav-item .nav-link{
	font: normal 500 15px/2px  var(--Montserrat);
	text-transform: uppercase;
	padding: 1.7rem;
	color: var(--title-color);
}

.header-area .main-menu .navbar-nav a{
	background: var(--gradient-color);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
}

.header-area .main-menu .navbar-nav a:hover{
	opacity: 0.4;
}

/* end navigation */

/* Banner Area */
.title-text{
	margin-left: 6rem;
}

.site-main .site-banner{
	font-family: var(--Montserrat);
}

.site-main .site-banner h3{
	font-size: 2.0rem;
	padding-top: 35%;
	font-weight: 500;
}

.site-main .site-banner h3::after{
	content: "";
	height: 2px;
	width: 18vw;
	background: black;
	display: inline-block;
	margin-left: 5%;
	transform: translateY(-5px);
}

.site-main .site-banner h1{
	font-size: 2.0rem;
	font-weight: 700;
}

.site-main .site-banner h4{
	font-size: 1.7rem;
}

.title-text{
	font: normal bold 50px/72px var(--Montserrat);
}

.personal-img{
	margin-top: 40%;
	margin-bottom: 40%;
	width: 200px;
	height: 200px;
	border-radius: 50%;
}


/* End Banner Area */

/* Start About Area */
.img-fluid{
	margin-top: 15%;
	width: 750px;
	height: 500px;
}

.site-main .about-area{
	padding: 8rem 5rem;
}

.site-main .about-area .about-title h2>span{
	display: block;
	font: normal bold 49px/60px var(--Montserrat);
	letter-spacing: 21px;
}

.site-main .about-area .about-title .paragraph>p{
	padding: .4rem 0;
	font-family: var(--Montserrat);
}

/* End About Area */


