h1{
	text-align: center;
	font-size: 48px;
	color: white;
	font-weight: bold;
	font-family: Palatino, sans-serif;
	background-image: url("bg.jpg");
	background-size: 100% 300px;
	width: 100%;
	margin: 0px;
}

h2{
	font-size: 32px;
}